@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}

@keyframes marquee {
    0% {
      background-position: 0;
    }
  
    100% {
      background-position: -1190px;
    }
  }

  @keyframes marqueeR {
    0% {
      background-position: -1190px;
    }
  
    100% {
      background-position: 0;
    }
  }

.block {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

.baloo {
    font-family: "Baloo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


body {
    font-family: inter;
    background-color: #EEEFFA;
}

nav {
    /* height: 70px; */
    color: #ffffff;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    max-height: fit-content;
}

.navLogo {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.navLogo img {
    height: 30px;
}

.navContent ul {
    display: flex;
    gap: 70px;
    list-style: none;
    margin-left: 30%;
    margin-top: 30px;
}

.navContent ul li a {
    text-decoration: none;
    color: #ffffff;
}

.profileContainer {
    display: flex;
    align-items: end;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .navContent ul {
        flex-direction: column;
        gap: 10px;
    }
}

.bgImage {
    width: 100%;
    max-height: max-content;
}

.head {
    position: relative;
    background-image: url("../images/bg.png");
    height: 100vh;
    max-height: 100vh;
    min-width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.headerText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

.headerText:hover {
    transform: translate(-50%, -50%) scale(1.2);

}

.container {
    padding: 0px 5rem;
}

.mission {
    height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: row;

}

.missionTitle {
    flex: 2;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    margin-top: -100px;
}

.missionTitleTop {
    color: #4A51A3;
    font-weight: bold;
    font-size: 150px;
    padding-bottom: -5%;
}

.missionTitleBottom {
    font-weight: bold;
    font-size: 80px;
    padding-bottom: -5%;
    margin-top: -150px;
}

.missionContent {
    flex: 2;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 0px 100px;
    text-align: justify;
    font-weight: 500;
    font-size: 22px;
}

.purpleText {
    color: #4A51A3;
}

/* .missionCards {
    height: 100vh;
    max-height: 100vh;
    display: grid;
    grid-template-columns: 200px 300px;
    grid-row: 2 2;
    grid-column-gap: 200px;
    grid-row-gap: 20px;
}

.box{
    background-color:#ffffff;
    padding:20px;
    border-radius:10px;
    display:flex;
    flex-direction: column;
    min-width: 310px ;
} */

.cardTitle {
    font-size: 25px;
    font-weight: bold;
}

.cardContent {
    font-size: 20px;
    font-weight: 400;
    width: 80%;
}

.missionCards {
    height: 50vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 150px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    gap: 20px;
    padding: 0px 20%;
}

.card {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    transition-duration: 300ms;
}

.four:hover {
    box-shadow: 5px 5px 10px #4a51a359;
}

.one:hover {
    box-shadow: -5px -5px 10px #4a51a359;
}

.three:hover {
    box-shadow: -5px 5px 10px #4a51a359;
}

.two:hover {
    box-shadow: 5px -5px 10px #4a51a359;
}

.gallery {
    height: 80vh;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.gallery h1 {
    font-size: 48px;
    color: #4A51A3;
}

.img-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.img {
    background-size: cover;
    background-position: center;
    height: 350px;
    width: 250px;
    border-radius: 10px;
    -webkit-filter: brightness(100%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.img:hover {
    -webkit-filter: brightness(50%);
    transform: scale(1.1);
}

.img1 {
    background-image: url('../images/ocg-saving-the-ocean-psRG_u3DLps-unsplash.jpg');
}

.img2 {
    background-image: url('../images/ocg-saving-the-ocean-cyxRGU7keTw-unsplash.jpg');
}

.img3 {
    background-image: url('../images/ocg-saving-the-ocean-bWAArZ5M4Ag-unsplash.jpg');
}

.img4 {
    background-image: url('../images/mateusz-klein-aAKvscHLQuA-unsplash.jpg');
}

.seeMore {
    display: flex;
    flex-direction: row;
    justify-content: end;
    transition-duration: 1s;
    cursor: pointer;
}

.seeMore h3 {
    font-size: 32px;
    color: #4A51A3;
}

.seeMore img {
    width: 80px;
    height: 80px;
    margin-top: 10px;
}

.seeMore:hover+.seeMoreImg {
    margin-top: 0px;
    transform: scale(1.1);
}

.seeMore:hover {
    transform: scale(1.1) translateX(-20px);
}

.fishLine{
    background-image: url("../images/fishLine.svg");
    min-height: 100px;
    background-repeat: repeat-x;
    animation: marquee 10s infinite linear;
    transition-duration: 3s;
    transition-timing-function: ease-in-out;
}

.fishLine:hover{
    animation-duration: 2s;
}

.center{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.stack-area{
    width: 100%;
    height: 300vh;
    position: relative;
    display: flex;
    justify-content: center;
}
.right{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    box-sizing: border-box;
    flex-basis: 50%;
}

.tickets{
    width: 100%;
    height: 100%;
    position: relative;
}

.ticket{
    width: 100%;
    box-sizing: border-box;
    border-radius: 6mm;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: 0.5s ease-in-out;
}

.ticket:nth-child(1){
    z-index: 3;
}

.ticket:nth-child(2){
    z-index: 2;
}
.ticket:nth-child(3){
    z-index: 1;
}

.ticket:active{
    transform-origin: bottom left;
}