body {
    background-color: white;
    margin: 0;
}

.shopTop {
    padding: 30px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.topImgContainer, .cartContainer {
    display: flex;
    align-items: center;
}

.Topimg {
    width: 50px;
}

.topSearchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.Shopsearch {
    background-color: #EEEFFA;
    border: 0px;
    padding: 20px;
    border-radius: 20px;
    width: 50%;
}

.topSearchContainer div {
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: center;
}

.topSearchContainer div img {
    margin-left: -50px;
    z-index: 1;
}

.cartContainer {
    display: flex;
    align-items: center;
}

.title{
    width: 100%;
    display: flex;
    justify-content: center;
}
.title h1{
 font-family:"Baloo 2", sans-serif;
}

.container{
    padding-left: 130px;
    padding-right: 130px;
}
.tabs{
    display: flex;
    flex-direction: row;
    font-family:"Baloo 2", sans-serif;
    font-weight: bold;
    gap:20px
}

.merchandise{
    color:#7A7A7A;
}

.description{
    font-family:"Baloo 2", sans-serif;
    font-weight: 600;
    color: #8B8B8B;
    font-size: 17px;
    width: 80%;
}

.items{
 display: flex;
 flex-direction: row;
 width: 100%;
 justify-content: space-around;
 margin-top: 30px;
}

.item{
 
}

.item img{
    width: 215px;
}

.item div{
    font-family:"Baloo 2", sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    padding-top: 0px;
    margin-top: -20px;
}

.cardName{
    font-weight: 600;
}

.addtoCartButtonContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.addtoCartButton img{
    width: 18px;
}

.addtoCartButton{
    background-color: black;
    border: 0px;
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-around;
}